{% extends '../index_master.html' %}

{% block content %}
<div class="right_col">
  <h1 class="text-success">
    Cargar Archivo Proyeccion
  </h1>
  <div class="mb-3">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <div class="col-md-8">
          <input type="file" name="file" id="file" required="True">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom: 18px;">
          <input type="submit" value="Subir Archivo" class="btn btn-primary" />
        </div>
      </div>
    </form>
  </div>
</div>
  {% endblock %}